{% extends "carRent/wrapper1.html" %}


{% block content %}
<div class="container">	
	<div class="row">	
		{% for city in cities %}
		<div class="col-md-4" style="height: 500px;">
			<div  class="Scaling shadow-lg p-3 mb-5 bg-white rounded">	
				<a href="">
					<div class="row"> 
						<div>
							<img src="{{city.city_Img.url}}" class="img-thumbnail">
							<h3>{{city.city_name}}</h3>
							<h5>{{city.city_location}}</h5>
						</div>
					</div>
				</a>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}