<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


	<!-- Time Peacker -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
	<!-- Time Peacker -->


	<title> Booking {% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<style>
		.Comix{
			font-family: "Comic Sans MS", cursive, sans-serif;
			font-size: 25px;
			letter-spacing: 2px;
			word-spacing: 2px;
			color: #000000;
			font-weight: normal;
			text-decoration: none;
			font-style: normal;
			font-variant: normal;
			text-transform: none;
		}
		.Scaling{
			transition-duration: 0.5s;
		}
		.Scaling:hover {
			-moz-transform: scale(1.05);
			-webkit-transform: scale(1.05);
			-o-transform: scale(1.05);
			-ms-transform: scale(1.05);
			transform: scale(1.05);
			/*transition-duration: 0.5s;*/
			/*transition: all 0,5s;*/
		}
		.blueBook{
			background-color: #003580;
			color: #FFFFFF;
		}

		a:hover{
			text-decoration: none;
			color: #298cad;
		}

	</style>
</head>
<body>
	<div class="alert blueBook">	
		{%include "carRent/includes/head1.html"%}
		<br><br><br>
	</div>
	<div class="container">

		{% block content %}

		{% endblock %}
	</div>
	<br><br><br>

	<footer>
		<div class="footer-blurb">
			<div class="container">
				<div class="row">
					<a href="#" class="Scaling col-lg-3 col-md-6 footer-blurb-item">
						<img class="rounded-circle" src="{% static 'index/image/Bek).jpg' %}" alt="Beka" width="250" height="200">
						<h3 class="Comix">BeKZat</h3>
						<p>Upon yielding, kind sea subdue very seed sixth them lesser one lesser there earth days were multiply so sixth gathering fifth that man fowl made.</p>
						<p><span class="btn btn-primary" href="#">More Info</span></p>
					</a>
					<a href="#" class="Scaling col-lg-3 col-md-6 footer-blurb-item">
						<img class="rounded-circle" src="{% static 'index/image/Dinara.jpg' %}" alt="Dinara" width="250" height="200">
						<h3 class="Comix">Dinara</h3>
						<p>Upon yielding, kind sea subdue very seed sixth them lesser one lesser there earth days were multiply so sixth gathering fifth that man fowl made.</p>
						<p><span class="btn btn-primary" href="#">More about her</span></p>
					</a>
					<a href="#" class="Scaling col-lg-3 col-md-6 footer-blurb-item">
						<img class="rounded-circle" src="{% static 'index/image/Roxa.jpg' %}" alt="" width="250" height="200">
						<h3 class="Comix">Roxa</h3>
						<p>Upon yielding, kind sea subdue very seed sixth them lesser one lesser there earth days were multiply so sixth gathering fifth that man fowl made.</p>
						<p><span class="btn btn-primary">More Info this Developer</span></p>
					</a>
					<a href="#" class="Scaling col-lg-3 col-md-6 footer-blurb-item">
						<img class="rounded-circle" src="{% static 'index/image/Bek).jpg' %}" alt="" width="250" height="200">
						<h3 class="Comix">Abylai</h3>
						<p>Upon yielding, kind sea subdue very seed sixth them lesser one lesser there earth days were multiply so sixth gathering fifth that man fowl made.</p>
						<p><span class="btn btn-primary">More Info this Developer</span></p>
					</a>
				</div>
			</div>
		</div>
		<div class="copyright">
			<div class="container">
				<hr> &copy; Все права защищены 2019
			</div>
		</div>
	</footer>


	<!-- map -->

            <!-- <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
					<div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div>
					<script>(function () {
						var setting = {"height":575,"width":1083,"zoom":12,"queryString":"Almaty, Казахстан","place_id":"ChIJq8vFFn1ugzgRdm2YrY9mRD0","satellite":false,"centerCoord":[43.22445542892382,76.89129762154913],"cid":"0x3d44668fad986d76","lang":"ru","cityUrl":"/kazakhstan/abay-280276","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"126712"};
						var d = document;
						var s = d.createElement('script');
						s.src = 'https://1map.com/js/script-for-user.js?embed_id=126712';
						s.async = true;
						s.onload = function (e) {
							window.OneMap.initMap(setting)
						};
						var to = d.getElementsByTagName('script')[0];
						to.parentNode.insertBefore(s, to);
					})();</script>
					<a href="https://1map.com/ru/map-embed?embed_id=126712">1 Map</a>
				</div> -->

				<!-- map -->




	<!-- <script>
		$('#myModal').modal("show");
  		// $('#myModal').on('hide.bs.modal', function(event){
    		// alert("Done");
  		// });
  	</script> -->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  	<!-- Fotorama from CDNJS, 19 KB -->
  	<link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>

  	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  	<!-- Плавный переход -->
<!--   	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  	<script type="text/javascript">
  		$(document).ready(function(){
  			$('a[href^="#""]').on("click","a", function (event) {
  				event.preventDefault();
  				var id  = $(this).attr('href'),
  				top = $(id).offset().top;
  				$('body,html').animate({scrollTop: top}, 1500);
  			});
  		});
  	</script> -->


  	<!-- Плавный переход -->

  	<!-- Time Peacker -->
  	<script
  	src="https://code.jquery.com/jquery-3.4.1.js"
  	integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  	crossorigin="anonymous"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha256-fTuUgtT7O2rqoImwjrhDgbXTKUwyxxujIMRIK7TbuNU=" crossorigin="anonymous"></script>
  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
  	<script>
  		$('#picker1').datetimepicker({
  			timepicker: true,
  			datepicker: true,
  			format: 'Y-m-d H:i',
  			onShow: function(ct) {
  				this.setOptions({
  					maxDate: $('#picker2').val() ? $('#picker2').val() : false
  				})
  			}
  		})
  		$('#picker2').datetimepicker({
  			timepicker: true,
  			datepicker: true,
  			format: 'Y-m-d H:i',
  			onShow: function(ct) {
  				this.setOptions({
  					minDate: $('#picker1').val() ? $('#picker1').val() : false
  				})
  			}
  		})
  	</script>
  	<!-- Time Peacker -->

  </body>
  </html>