{% block head %}
	<div class="container">
		<!-- <div class="alert badge-primary"> -->
			<div class="row">	
				<div class="col-3" style="background-color: #003580">
					<h4 class="alert Comix" style="font-style: ; color: #FFFFFF">Booking<span class="Comix" style="color: #009FE2">.com</span></h4>
				</div>
				<div class="offset-3"></div>
				<div class="col-6 alert badge-secondary">
					{% block login %}
						{% if user.is_authenticated %}
						<ul class="nav">
							<li>
								<a href="{% url 'logout' %}">Logout</a>
							</li>
							 --
							<li>
								<a href="{% url 'Hotel:profile' %}">{{user.username}}</a>
						<!-- </li> -->
						</ul>
						{% else %}
							<ul class="nav">
							<li>
								<a href="{% url 'Hotel:registration' %}">Registrtion</a>
							</li>
							 --
							<li>
								<a href="{% url 'login' %}">Login</a>
						<!-- </li> -->
						</ul>
						{% endif %}
					{% endblock %}
	
				</div>
			</div>
			<a href="/" class="btn btn-success btn-lg"><i class="fas fa-bed"></i>  Проживание</a>
    	    <a href="/" class="btn btn-success btn-lg"><i class="fas fa-plane"></i>  Авиабилеты</a>
			<a href="/cities" class="btn btn-success btn-lg"><i class="fas fa-car"></i>  Аренда Машин</a>
			<a href="/" class="btn btn-success btn-lg"><i class="fas fa-coffee"></i>  Рестораны</a>
		<!-- </div> -->
	</div>
{% endblock %}
