{% block head %}
	<div class="container">
		<!-- <div class="alert badge-primary"> -->
			<div class="row">	
				<div class="col-3">
					<h4 class="alert badge-primary">Booking<span class="badge badge-pill badge-secondary">.com</span></h4>
				</div>
				<div class="offset-3"></div>
				<div class="col-6 alert badge-secondary"><p>Scoro dobavim)</p></div>
			</div>
			<a href="/" class="btn btn-success btn-lg">Проживание</a>
    	    <a href="/" class="btn btn-success btn-lg">Авиабилеты<!-- &raquo; --></a>
			<a href="#" class="btn btn-success btn-lg">Аренда Машин</a>
			<a href="/" class="btn btn-success btn-lg">Рестораны</a>
		<!-- </div> -->
	</div>
{% endblock %}
