{% extends "index/wrapper.html" %}

{% block content %}
{% load static %}

<div class="">	
	<div class="container">
		{% for hotel in hotels %}
		<div  class="Scaling jumbotron">	
			<a href="/hotel/{{hotel.id}}"><h3>{{hotel.hotel_name}}</h3>
				<div class="row">
					<div class="col-md-8">
						<h5>{{hotel.hotel_info|truncatewords:30}}</h5>
						<h6>{{hotel.hotel_location}}</h6>
						<!-- <img src="{% static 'index/image/wwallpaper.jpg' %}" class="img-thumbnail"  width="250" height="200"> -->
						<!-- <img src="{% static 'index/image/wwallpaper.jpg' %}" class="img-thumbnail"  width="250" height="200"> -->
					</div>
					<div class="col-md-4">
						<img src="{% static 'index/image/wwallpaper.jpg' %}" class="img-thumbnail">
					</div>		
				</div>
			</a>
		</div>
		{% endfor %}
	</div>
<div class="container">
<!-- 	<h2>Index</h2>
		<p> өз ссылкаларыңды көрсетіп қойыңдар (href="осы жерге")  пока  что</p>
		<p>чтобы басканда сендердің  разделдарың ашылатындай "application ;)"</p> -->
<!-- 	{% for hotel in object_list %}
		<a href="/hotel/{{hotel.id}}"><h3>{{hotel.hotel_name}}</h3></a>
		<h5>{{hotel.hotel_info}}</h5>
		<h6>{{hotel.hotel_location}}</h6>
	{% endfor %}
 -->	<!-- <div class="">
		<a href="#">Restaurant</a>
	</div>
	<div class="">
		<a href="#">carRent</a>
	</div>
	<div class="">
		<a href="#">Flights</a>
	</div> -->
	</div>
</div>

{% endblock %}
