{% extends "index/wrapper.html" %}

{% block content %}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="">	
	<div class="container">
		<div class="row">
			
		{% for hotel in hotels %}
		<div class="col-md-6 img-thumbnail	" style="background-image: url('{% static 'index/image/wwallpaper.jpg' %}');">
		<div  class="Scaling">
			<a href="/hotel/{{hotel.id}}"><h3>{{hotel.hotel_name}}</h3>
				<div class="row">
					<div class="col-md-8">
						<h5>{{hotel.hotel_info|truncatewords:30}}</h5>
						<h6>{{hotel.hotel_location}}</h6>
						<!-- <img src="{% static 'index/image/wwallpaper.jpg' %}" class="img-thumbnail"  width="250" height="200"> -->
						<!-- <img src="{% static 'index/image/wwallpaper.jpg' %}" class="img-thumbnail"  width="250" height="200"> -->
					</div>
<!-- 					<div class="col-md-4">
						<img src="{% static 'index/image/wwallpaper.jpg' %}" class="img-thumbnail">
					</div> -->		
				</div>
			</a>
		</div>
		</div>	
		{% endfor %}
		</div>
	</div>

		<button class="btn btn-info" data-toggle="modal" data-target="#myModal">Город</button>
		  <div class="modal fade"  id="myModal">
		    <div class="modal-dialog modal-md">
		      <div class="modal-content">
		        <div class="modal-header">
		          <h5 class="modal-title">Выберите Город</h5>
		          <!-- <button data-dismiss="modal" class="close">x</button> -->
		        </div>
		        <div class="modal-body">
		        	{% for city in cities %}
						<a href="#" class="btn blueBook">{{city.city_name}}</a>
						
		        	{% endfor %}
		        </div>
		          <div class="modal-footer">
		            <button class="btn btn-danger" data-dismiss="modal">Close</button>
		          </div>
		      </div>
		    </div>
		  </div>
<!-- 	<h2>Index</h2>
		<p> өз ссылкаларыңды көрсетіп қойыңдар (href="осы жерге")  пока  что</p>
		<p>чтобы басканда сендердің  разделдарың ашылатындай "application ;)"</p> -->
<!-- 	{% for hotel in object_list %}
		<a href="/hotel/{{hotel.id}}"><h3>{{hotel.hotel_name}}</h3></a>
		<h5>{{hotel.hotel_info}}</h5>
		<h6>{{hotel.hotel_location}}</h6>
	{% endfor %}
 -->	<!-- <div class="">
		<a href="#">Restaurant</a>
	</div>
	<div class="">
		<a href="#">carRent</a>
	</div>
	<div class="">
		<a href="#">Flights</a>
	</div> -->
	
</div>

{% endblock %}
