{% extends "index/wrapper.html" %}


{% block title %}
	Hotels
{% endblock %}


{% block content %}
{% load static %}

<div class="">
	<div class="container">
		<div class="row">
		{% for hotel in hotels %}
		<div class="col-md-5 rounded" style="	
		background-image: url('{{hotel.hotel_pics.url}}');
		background-size: cover;
		height: 500px;
  "> 
		<div class="Scaling">
			<a href="{% url 'Hotel:hotel' hotel.id %}"><h3>{{hotel.hotel_name}}</h3>
				<div class="row">
					<div class="col-md-8">
						<h5>{{hotel.hotel_info|truncatewords:30}}</h5>
						<h6>{{hotel.hotel_location}}</h6>
					</div>		
				</div>
			</a>
		</div>
		</div>
		<div class="col-1"></div>	
		{% endfor %}
		</div>

		<button class="btn btn-info" data-toggle="modal" data-target="#myModal">Город</button>
		  <div class="modal fade"  id="myModal">
		    <div class="modal-dialog modal-md">
		      <div class="modal-content">
		        <div class="modal-header">
		          <h5 class="modal-title">Выберите Город</h5>
		          <!-- <button data-dismiss="modal" class="close">x</button> -->
		        </div>
		        <div class="modal-body">
		        	{% for city in cities %}
						<a href="{% url 'Hotel:HotelsByCity' city.id %}" class="btn blueBook">{{city.city_name}}</a>
						
		        	{% endfor %}
		        </div>
		          <div class="modal-footer">
		            <button class="btn btn-danger" data-dismiss="modal">Close</button>
		          </div>
		      </div>
		    </div>
		  </div>
	</div>
<!-- 	<h2>Index</h2>
		<p> өз ссылкаларыңды көрсетіп қойыңдар (href="осы жерге")  пока  что</p>
		<p>чтобы басканда сендердің  разделдарың ашылатындай "application ;)"</p> -->
<!-- 	{% for hotel in object_list %}
		<a href="/hotel/{{hotel.id}}"><h3>{{hotel.hotel_name}}</h3></a>
		<h5>{{hotel.hotel_info}}</h5>
		<h6>{{hotel.hotel_location}}</h6>
	{% endfor %}
 -->	<!-- <div class="">
		<a href="#">Restaurant</a>
	</div>
	<div class="">
		<a href="#">carRent</a>
	</div>
	<div class="">
		<a href="#">Flights</a>
	</div> -->
	
</div>

{% endblock %}
