{% extends "index/wrapper.html" %}

{% block content %}
	<h2>{{ hotel.hotel_name }}</h2>
	<div class="row">
		<div class="col-6">
			<p>
				{{ hotel.hotel_info|linebreaks }}
			</p>
		</div>
		<!-- Add images to <div class="fotorama"></div> -->
		<div class="col-6 start">
			<div class="fotorama" data-nav="thumbs" data-loop="true"  data-width="100%" data-allowfullscreen="true" data-fit="cover" data-clicktransition="dissolve" data-keyboard="true" data-autoplay="3000">
		  		<a href="{{hotel.hotel_pics.url}}"><img src="{{hotel.hotel_pics.url}}"></a>
				<a href="{{hotel.hotel_pics.url}}"><img src="{{hotel.hotel_pic1.url}}"></a>
				<a href="{{hotel.hotel_pics.url}}"><img src="{{hotel.hotel_pic2.url}}"></a>	
			</div>
			<div class="">
				<br>
              <a href="{% url 'CarRent:payment' %}" class="ml-auto btn btn-primary" style="width: 100%;">Rent Now</a>
            </div>
		</div>
	</div>
	<br>
	<p>
	{% if user.is_authenticated %} 
		<!-- <br><br> -->
		<div class="row">
			<div class="">
				<form class="" action="{% url 'Hotel:addFeedback' hotel.id %}" method="post">
					{% csrf_token %}
					<textarea name="feedBacks_text" id="" cols="80" rows="8" placeholder="Leave your Feedback here please..."></textarea>
					<input type="hidden" name="username" value="{{user.username}}">
					<br><input type="submit" name="" value="Submit">
				</form>
				<h3>Feedbacks:</h3>
				{% if feedBacks %}
					{% for fb in feedBacks %}
						<p><b>*{{ fb.user.username }}* left this Feed-Back: </b></p>
						<p>{{fb.fb_text}}</p>
					{% endfor %}
				{% else %}
					<p>No Feedbacks yet</p>
				{% endif %}
			</div>
		</div>
	{% endif %}
	</p>
{% endblock%}