<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Booking</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
 	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<!-- {% load staticfiles %} -->
</head>
<body>
		<div class="alert badge-primary">	
			{%include "index/includes/head.html"%}
		</div>
	<div class="container">

		{% block content %}

		{% endblock %}

	</div>
	<br><br><br>

	<div class="container">
    	<img src="{% static 'index/image/wwallpaper.jpg' %}" class="img-thumbnail">
   		
   	</div>
   		<footer>
		<div class="footer-blurb">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 footer-blurb-item">
						<img class="rounded-circle" src="{% static 'index/image/Bek).jpg' %}" alt="Beka" width="250" height="200">
						<h3>BeKZat</h3>
						<p>Upon yielding, kind sea subdue very seed sixth them lesser one lesser there earth days were multiply so sixth gathering fifth that man fowl made.</p>
						<p><a class="btn btn-primary" href="#">More Info</a></p>
					</div>
					<div class="col-lg-3 col-md-6 footer-blurb-item">
						<img class="rounded-circle" src="{% static 'index/image/Dinara.jpg' %}" alt="Dinara" width="250" height="200">
						<h3>Dinara</h3>
						<p>Upon yielding, kind sea subdue very seed sixth them lesser one lesser there earth days were multiply so sixth gathering fifth that man fowl made.</p>
						<p><a class="btn btn-primary" href="#">More about her</a></p>
					</div>
					<div class="col-lg-3 col-md-6 footer-blurb-item">
						<img class="rounded-circle" src="{% static 'index/image/Roxa.jpg' %}" alt="" width="250" height="200">
						<h3>Roxa</h3>
						<p>Upon yielding, kind sea subdue very seed sixth them lesser one lesser there earth days were multiply so sixth gathering fifth that man fowl made.</p>
						<p><a class="btn btn-primary" href="#">More Info this Developer</a></p>
					</div>
					<div class="col-lg-3 col-md-6 footer-blurb-item">
						<img class="rounded-circle" src="{% static 'index/image/Bek).jpg' %}" alt="" width="250" height="200">
						<h3>Abylai</h3>
						<p>Upon yielding, kind sea subdue very seed sixth them lesser one lesser there earth days were multiply so sixth gathering fifth that man fowl made.</p>
						<p><a class="btn btn-primary" href="#">More Info this Developer</a></p>
					</div>
				</div>
				<!-- /.row -->
			</div>
        </div>

        <div class="copyright">
        	<div class="container">
        		<hr>&copy; Все права защищены 2019	
        	</div>
        </div>
	</footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>