{% block head %}
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark blueBook fixed-top">
  			<a class="navbar-brand alert Comix" href="/">Booking<span class="Comix" style="color: #009FE2">.com</span></a>
  <button class="navbar-toggler blueBook" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      	<li class="nav-item active" style="padding: 4px;">
			<a href="/" class="btn btn-outline-success btn-lg"><i class="fas fa-bed"></i>  Проживание</a>
     	</li>
	<li class="nav-item active" style="padding: 4px;">
		<a href="/cars" class="btn btn-success btn-lg"><i class="fas fa-car"></i>  Аренда Машин</a>
	</li>
		<li class="nav-item dropdown">
			{% block login %}
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				{% if user.is_authenticated %}
	          		{{user.username}}
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="#">Profile</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="#">Logout</a>
	          </div>
     	</li>
		<li class="nav-item active">
						<ul class="nav">
							<li>
								<a href="{% url 'logout' %}">Logout</a>
							</li>
							 --
							<li>
								<a href="{% url 'Hotel:profile' %}">{{user.username}}</a>
						<!-- </li> -->
						</ul>
						{% else %}
							<ul class="nav">
							<li>
								<a href="{% url 'Hotel:registration' %}">Registrtion</a>
							</li>
							 --
							<li>
								<a href="{% url 'login' %}">Login</a>
						<!-- </li> -->
						</ul>
						{% endif %}
					{% endblock %}
		</li>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</div>
{% endblock %}
